# Node / Modern Javascript
node_modules/
dist/
dist-ssr/
.tsbuildinfo
*.local

# Tauri / Rust Backend
src-tauri/target/
src-tauri/gen/

# Environment Variables
.env
.env.*
!.env.example

# Logs and databases
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
vidcord_crash.log
*.log

# System / OS Files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
.fleet/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Legacy / App specific temporary bin downloads
ffmpeg.exe
ffprobe.exe
ffplay.exe
/ffmpeg
/ffprobe
AppDir/
